@media(max-width: 850px) {
    button {
        font-size: small;
    }
    .low input {
        font-size: small;
    }
}

@media(max-width: 700px) {
    button {
        font-size: 10px;
    }
    .low input {
        font-size: 10px;
    }
}

@media(max-width: 500px) {
    .low {
        display: block;
        margin-top: 0;
    }
    .low input {
        height: 40px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .ULTRAMAIN {
        height: 700px;
    }
    .navbar h1 {
        font-size: 10x;
    }
    
}